.site-heading {
    margin-top: 5rem;
    margin-bottom: 5rem;
    line-height: 1.5;
    font-family: 'Raleway';
    color: rgba(255, 255, 255, 0.85);
    display: block;
    text-align: center;
  }

.site-heading .header-title {
    text-transform: uppercase;
    font-size: 45px;
}  

.site-heading .header-subtitle {
    font-size: 0.7em;
    color: rgba(0, 0, 60, 0.75);
}
  