/* page 404 */
.pag-404 .error h3 {
  padding: 50px;
  color: rgba(red, green, blue, 0.85);
}
.pag-404 .error code {
  color: #a55;
}
.pag-404 .error .error-message {
  color: rgba(red, green, blue, 0.85);
}
